<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  [scrollY]="false" class="ion-padding">
  <div  id="main-content">
    <router-outlet></router-outlet>  <!-- there the chats are displayed -->
  </div>
</ion-content>
<ion-menu type="push" contentId="main-content">
  <ion-content  class="ion-padding">
    <br><br><br>
    <ion-menu-toggle>
      <ion-item routerLink="../login">
        <ion-text class="ion-text-left"> Logout</ion-text>
      </ion-item>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>