<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title class>Form</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="loginForm" (submit)="submitHandler()">
        <ion-input label="Gmail" type="Text" label-placement="floating" formControlName="email" fill="outline"
          placeholder="abc@gmail.com"></ion-input>
        <br />
        <ion-input label="Password" type="password" formControlName="password" label-placement="floating" fill="outline"
          placeholder="*******"></ion-input>
          <ion-button expand="block" type="submit">login</ion-button> 
          
        </form>
        <ion-text>
          Want to Register yourself? 
          <ion-text class="link" color="tertiary" routerLink="../register" >
            Register
          </ion-text>
        </ion-text>
        
        <ion-text color="tertiary" class="ion-text-center">
          <br />
          <h1>OR</h1>
        </ion-text>
        <br />

      <div class="social-login ">
        <ion-chip (click)="googleauthlogin()">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="../../assets/icon/google.jpeg" />
          </ion-avatar>
          <ion-label>google</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="../../assets/icon/twitter.png" />
          </ion-avatar>
          <ion-label>Twitter</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="../../assets/icon/github.png" />
          </ion-avatar>
          <ion-label>github</ion-label>
        </ion-chip>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>