<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title class>Form</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="loginForm" (submit)="submitHandler($event)">
        <ion-input label="Gmail" type="Text" label-placement="floating" formControlName="email" fill="outline"
          placeholder="abc@gmail.com"></ion-input>
        <br />
        <ion-input label="Password" type="password" formControlName="password" label-placement="floating" fill="outline"
          placeholder="*******"></ion-input>
        <ion-button expand="block" type="submit">login</ion-button> <br />

      </form>
      <ion-text color="tertiary" class="ion-text-center">
        <h1>OR</h1>
      </ion-text>
      
      <ion-button expand="block">Google</ion-button> <br />
      <ion-button expand="block">Twitter</ion-button> <br />
      <ion-button expand="block">github</ion-button> <br />
      <ion-button expand="block">Facebook</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>